<p id="notice"><%= notice %></p>

<p>
  <b>League:</b>
  <%= @club.league_id %>
</p>

<p>
  <b>Name:</b>
  <%= @club.name %>
</p>

<p>
  <b>Played:</b>
  <%= @club.played %>
</p>

<p>
  <b>Won:</b>
  <%= @club.won %>
</p>

<p>
  <b>Lost:</b>
  <%= @club.lost %>
</p>

<p>
  <b>Drawn:</b>
  <%= @club.drawn %>
</p>

<p>
  <b>Goals for:</b>
  <%= @club.goals_for %>
</p>

<p>
  <b>Goals against:</b>
  <%= @club.goals_against %>
</p>

<p>
  <b>Achievements:</b>
  <%= @club.achievements %>
</p>


<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
