<h1>Listing fixtures</h1>

<table>
  <tr>
    <th>League</th>
    <th>Location</th>
    <th>Date</th>
    <th>Home team</th>
    <th>Away team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fixtures.each do |fixture| %>
  <tr>
    <td><%= fixture.league_id %></td>
    <td><%= fixture.location %></td>
    <td><%= fixture.date %></td>
    <td><%= fixture.home_team %></td>
    <td><%= fixture.away_team %></td>
    <td><%= link_to 'Show', fixture %></td>
    <td><%= link_to 'Edit', edit_fixture_path(fixture) %></td>
    <td><%= link_to 'Destroy', fixture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fixture', new_fixture_path %>
<br/>
<%= link_to '<<< Back to Admin Menu', controller: :access, action: :admin_menu %>
