<h1>Editing public_user</h1>
<%= form_for(@public_user, url: {action: :update, :id => @public_user.id}) do |f| %>
    <% if @public_user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@public_user.errors.count, "error") %> prohibited this public_user from being saved:</h2>

          <ul>
            <% @public_user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <div class="row">
      <div class="span4">
        <%= f.submit 'Update', :class => "btn btn-primary" %>
        <% if session[:public_user] %>
            <a class="btn default" <%= link_to 'Back',
                                               controller: :access, action: :user_menu,
                                               :id => @public_user.id,
                                               :public_user => session[:public_user] %>
        <% end %>
      </div>
    </div>
<% end %>



