<h1 xmlns="http://www.w3.org/1999/html">Listing public_users</h1>
<% if !flash[:notice].blank? %>
    <%= flash[:notice] %>
<% end %>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>Town</th>
    <th>County</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @public_users.each do |public_user| %>
      <tr>
        <td><%= public_user.first_name %></td>
        <td><%= public_user.last_name %></td>
        <td><%= public_user.email %></td>
        <td><%= public_user.phone %></td>
        <td><%= public_user.address_1 %></td>
        <td><%= public_user.address_2 %></td>
        <td><%= public_user.town %></td>
        <td><%= public_user.county %></td>
        <!-- If the user is admin then only display show and destroy -->
        <% if session[:position] %>
            <td><%= link_to 'Show', controller: :public_users, action: :admin_show, id: public_user,
                            :admin_id => session[:user_id],
                            :position => session[:position] %></td>
        <!-- If the user is public then display all options -->
        <% elsif session[:public_user] %>
            <td><%= link_to 'Show', public_user, :id => session[:user_id] %></td>
            <td><%= link_to 'Edit', edit_public_user_path(public_user) %></td>
        <% end %>
        <td><%= link_to 'Destroy', public_user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>
<br/>
<%= link_to 'New Public user', new_public_user_path %>
