<% @page_title = 2 %>
<% if !flash[:notice].blank? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[:notice] %>
    </div>
<% end %>
<h3>Admin User Login</h3>
<%= form_tag action: :check_admin_user_login_details do %>
    <div>
      <ul class="unstyled">
        <li><%= label_tag :username %></li>
        <li><%= text_field_tag :username %></li>
        <li><%= label_tag :password %></li>
        <li><%= password_field_tag :password %></li>
        <li><%= submit_tag 'Admin Login', :class => 'btn btn-primary' %></li>
      </ul>
    </div>
<% end %>



