<% @page_title = 1 %>
<%= form_tag controller: :access, action: :check_user_login_details do %>

    <div class="row">
      <div class="span12 well">
        <% if !flash[:notice].blank? %>
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= flash[:notice] %>
            </div>
        <% end %>
        <h3>Login</h3>
        <ul class="unstyled">
          <li><%= label_tag :username %></li>
          <li><%= text_field_tag :username %></li>
          <li><%= label_tag :user_password, 'Password' %></li>
          <li><%= password_field_tag :user_password %></li>
        </ul>
        <%= submit_tag 'Login', :class => 'btn btn-primary' %>
        <hr/>
        <div>
          <h3>Reasons to register with us</h3>
          <p>
          Consectetur adipiscing elit. Nunc odio sapien,
          rhoncus ut congue sit amet, fermentum vel leo. Ut at rutrum massa. Mauris
          non orci non dui dictum vulputate. Integer scelerisque nibh pharetra ligula lobortis interdum.
          Sed vel lorem ligula, sed ullamcorper dui. Curabitur odio quam, sagittis ultrices vehicula vitae,
          tempus sit amet risus. Vivamus imperdiet lectus congue tellus suscipit vitae ultrices lacus vulputate.
          Duis ligula odio, egestas sed pretium nec, condimentum id lorem.

          Integer cursus venenatis lacus, sit amet euismod ante vestibulum non.
          In sit amet dui in sem rhoncus vulputate vitae condimentum lectus.
          Cras leo libero, dapibus sit amet blandit eget, posuere non arcu.
          Nullam eget enim turpis, id bibendum orci. Sed posuere dictum diam sed laoreet.
          Mauris sagittis ultrices ligula, a lacinia felis tincidunt a. Donec diam lorem,
          accumsan ultrices venenatis quis, laoreet non magna.
          </p>
          <a class="btn btn-success pull-left" <%= link_to "Register",
                                                           controller: :public_users, action: :new %>
        </div>
      </div>
    </div>
<% end %>
