<p id="notice"><%= notice %></p>

<p>
  <b>Team:</b>
  <%= @manager.team_id %>
</p>

<p>
  <b>First name:</b>
  <%= @manager.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @manager.last_name %>
</p>

<p>
  <b>Image:</b>
  <%= @manager.image_url %>
</p>

<p>
  <b>Email:</b>
  <%= @manager.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @manager.phone %>
</p>

<p>
  <b>Description:</b>
  <%= @manager.description %>
</p>

<p>
  <b>Achievements:</b>
  <%= @manager.achievements %>
</p>


<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', controller: :managers, action: :index, :id => @admin_user.id %>
