<h1>New Sponsorship Applications</h1>
<table>
  <tr>
    <th>Company name</th>
    <th>Location</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Title</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Package</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sponsors.each do |sponsor| %>
  <tr>
    <td><%= sponsor.company_name %></td>
    <td><%= sponsor.location %></td>
    <td><%= sponsor.first_name %></td>
    <td><%= sponsor.last_name %></td>
    <td><%= sponsor.title %></td>
    <td><%= sponsor.email %></td>
    <td><%= sponsor.phone %></td>
    <td><%= sponsor.package %></td>
    <td><%= link_to 'Show', sponsor %></td>
    <td><%= link_to 'Edit', edit_sponsor_path(sponsor) %></td>
    <td><%= link_to 'Destroy', sponsor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
