<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @sponsor.company_name %>
</p>

<p>
  <b>Location:</b>
  <%= @sponsor.location %>
</p>

<p>
  <b>First name:</b>
  <%= @sponsor.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @sponsor.last_name %>
</p>

<p>
  <b>Title:</b>
  <%= @sponsor.title %>
</p>

<p>
  <b>Email:</b>
  <%= @sponsor.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @sponsor.phone %>
</p>

<p>
  <b>Package:</b>
  <%= @sponsor.package %>
</p>


<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', controller: :managers, action: :index, :id => @admin_user.id %>
