<table class="fixtures table table-striped table-bordered">
  <thead>
  <tr>
    <th>Position</th>
    <th>Club</th>
    <th>Played</th>
    <th>W</th>
    <th>L</th>
    <th>D</th>
    <th>GF</th>
    <th>GA</th>
    <th>GD</th>
    <th>Pts</th>
  </tr>
  </thead>
  <tbody>
  <% position = [] %>
  <% @clubs_17s.first(3).each do |club| %>
      <% position << club %>
      <% if club.id == 10 and position.count == 1 %>
          <tr class="warning">
      <% elsif club.id == 10 and position.count > 1 %>
          <tr class="info">
      <% end %>
        <td><%= position.count %></td>
        <td><%= club.name %></td>
        <td><%= club.played %></td>
        <td><%= club.won %></td>
        <td><%= club.lost %></td>
        <td><%= club.drawn %></td>
        <td><%= club.goals_for %></td>
        <td><%= club.goals_against %></td>
        <td><%= club.goals_for - club.goals_against %></td>
        <%
           wins = club.won
           wins = wins * 3
           draws = club.drawn
           draws = draws * 1
           points = wins + draws
        %>
        <td><%= points %></td>
      </tr>
  <% end %>
  </tbody>
</table>