<div class="hero-unit">
  <h2>Ballyogan Celtic FC</h2>
  <p class="banner-text">Lorem ipsum dolor sit amet, consectetur<br/> adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et</p>
  <p>
    <a class="btn btn-primary btn-large">
      Join
    </a>
  </p>
  </div>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Senior Team</a></li>
    <li><a href="#tab2" data-toggle="tab">Under 17's</a></li>
    <li><a href="#tab3" data-toggle="tab">Under 15's</a></li>
    <li><a href="#tab4" data-toggle="tab">Under 12's</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <h4>Senior teams league table</h4><br/>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <hr/>
      <%= render :partial => "fixtures_snr" %>
      <%= render :partial => "results_snr" %>
      <%= render :partial => "clubs_snr" %>
    </div>
    <div class="tab-pane" id="tab2">
      <h4>Under 17s league table</h4><br/>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <hr/>
      <%= render :partial => "fixtures_17s" %>
      <%= render :partial => "results_17s" %>
      <%= render :partial => "clubs_17s" %>
    </div>
    <div class="tab-pane" id="tab3">
      <h4>Under 15s league table</h4><br/>

      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <hr/>
      <%= render :partial => "fixtures_15s" %>
      <%= render :partial => "results_15s" %>
      <%= render :partial => "clubs_15s" %>
    </div>
    <div class="tab-pane" id="tab4">
      <h4>Under 12s league table</h4><br/>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <hr/>
      <%= render :partial => "fixtures_12s" %>
      <%= render :partial => "results_12s" %>
      <%= render :partial => "clubs_12s" %>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="well well-small"><h4>Top section</h4>
    <!-- <div id="well span4 pull-right">
      <div class="fb-like-box"
           data-href="https://www.facebook.com/pages/NPP-Group-Ltd/201924408941?fref=ts"
           data-width="292"
           data-show-faces="true"
           data-stream="true"
           data-show-border="false"
           data-header="true">
      </div>
    </div> -->
    <p>In its first ever season Ballyogan Celtic claimed the AUL Division 3
      Sunday league title in style recently with a six-goal romp over Oatfield in Ballyogan Park.
      League secretary Dick Redmond presented the Superior Racking Cup to club captain Thomas
      ‘Tucker’ Hennessy on a historic night for the new club.
      Player/manager Shaun Tracey, who is also the club’s chairman,
      dedicated the league title to the local community in Ballyogan.
      “This has been a long season and it’s been hard because it is our first season,”
      he declared. “But this win is dedicated to the people of Ballyogan who have supported
      us all year long, both at the matches and in the few fundraisers we organised along the way</p>
  </div>
  <div class="well well-small"><h4>Mid section</h4>

    <p>.
      “A huge thank you has to go to the Gallops Pub who have helped us out immensely throughout
      the season and to others including Paddy Power, Tony ‘Dinger’ Bell, Pat Hennessy, the local barbers
      in Leopardstown Shopping Centre and George Hook who donated some whiskey for one of our draws.”
      </p>
  </div>
  <div class="well well-small"><h4>Mid section</h4>

    <p>The season isn’t over yet for Ballyogan Celtic and more silverware could be on the way as they
      are in the quarterfinals of the Unidare Cup and the second round of the Frank Roe Cup.
      The club is hoping to expand next season and plans are in place to start providing
      football for some of the younger age groups in the area.
      Anyone interested in playing, managing, coaching, fundraising, sponsorship or
      general help around the club can get in touch with club chairperson Shaun Tracey on 087-7735218 or
      the first team coach Billy Kelly on 087-2254619</p>
  </div>
  <div class="well well-small"><h4>Bottom section</h4>

    <p>Anyone interested in playing, managing, coaching, fundraising, sponsorship or
      general help around the club can get in touch with club chairperson Shaun Tracey on
      087-7735218 or the first team coach Billy Kelly on 087-2254619</p>
  </div>
</div>