<div class="page-header">
</div>
<div class="container-fluid">
  <div class="row-fluid">

    <div class="span9 well well-large pull-right">
      <div class="row-fluid">

        <div id="played" class="span6 well">
          <ul class="unstyled">
            <li><%= raw(@season_totals) %></li>
          </ul>
          <div id="total_played" style="width:100%; height:100%;"></div>
        </div>

        <div id="topScorers" class="span6 well ">
          <ul class="unstyled">
            <li><%= raw(@top_scorer) %></li>
          </ul>
          <div id="top_scorers" style="width:100%; height:100%;"></div>
        </div>

        <div id="honours" class="span6 well">
          <h5>Team Honours</h5>
          <ul class="unstyled">
             <% @achievements.each do |a| %>
                <li><%= a.achievements %></li>
             <% end %>
          </ul>
        </div>

        <div id="plyroyr" class="span5 well">
          <ul class="unstyled">
            <h5>Player of the Year</h5>
            <% @player_award.each do |award| %>
                <% if award.team_id == params[:team_id].to_i %>
                    <li><%= image_tag(award.image_url, size: '100x100') %></li>
                    <li><%= truncate(award.first_name, length: 2, omission: ".") %> <%= award.last_name %></li>
                    <li>Played: <%= award.played %></li>
                    <li>Goals: <%= award.goals %></li>
                <% end %>
            <% end %>
          </ul>
        </div>

        <div class="span10 well">
          History
        </div>
      </div>
    </div>
    <ul class="thumbnails">
      <% @managers.each do |manager| %>
          <li class="span3">
            <div class="thumbnail">
              <%= image_tag(manager.image_url) %>
              <h5>Manager</h5>
              <hr/>
              <div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      Click Profile:
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse out">
                    <div class="accordion-inner">
                      <dl>
                        <dt>Name:</dt>
                        <dd><%= manager.managers_name %></dd>
                        <dt>Details</dt>
                        <dd>dob: <%= manager.achievements %></dd>
                        <dd><%= manager.description %></dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
  <ul class="thumbnails">
    <% @players.each do |player| %>
        <li class="span2">
          <div class="thumbnail">
            <%= image_tag(player.image_url) %>
            <h5><%= player.players_name %></h5>
            <hr/>
            <dl>
              <dt>Position:</dt>
              <dd><%= player.position %></dd>
              <dt>Details</dt>
              <dd>dob: <%= player.dob %></dd>
              <dd><%= player.description %></dd>
            </dl>
          </div>
        </li>
    <% end %>
  </ul>
</div>


