<% @page_title = 'Training' %>
<%= render(partial: 'shared/nav_training') %>
<!-- Renders the title of the league to the user -->
<%= render(partial: 'league_title') %>
<div class="table-condensed">
  <table class="table table-striped table-bordered pull-left">
    <thead>
    <tr>
      <th><h5 class="text-success">Date</h5></th>
      <th><h5 class="text-success">Team</h5></th>
      <th><h5 class="text-success">Location</h5></th>
      <th><h5 class="text-success">Coach</h5></th>
      <th><h5 class="text-success">Note</h5></th>
    </tr>
    </thead>
    <% @training.each do |t| %>
        <tbody>
        <tr>
          <td><%= t.date.strftime("%a %d %B, %I:%M %p") %></td>
          <td>
            <%= "Senior Team" if t.team_id == 0 %>
            <%= "Under 17's" if t.team_id == 1 %>
            <%= "Under 15's" if t.team_id == 2 %>
            <%= "Under 12's" if t.team_id == 3 %>
          </td>
          <td><%= t.location %></td>
          <td><%= t.coach %></td>
          <td><%= t.notes %></td>
        </tr>
    <% end %>
  </table>
</div>