<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @training_session.date %>
</p>

<p>
  <b>Location:</b>
  <%= @training_session.location %>
</p>

<p>
  <b>Coach:</b>
  <%= @training_session.coach %>
</p>

<p>
  <b>Team:</b>
  <%= @training_session.team_id %>
</p>

<p>
  <b>Notes:</b>
  <%= @training_session.notes %>
</p>


<%= link_to 'Edit', edit_training_session_path(@training_session) %> |
<%= link_to 'Back', training_sessions_path %>
