<%= form_for @player, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :team_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:team_id, @teams.collect {|t| [t.name, t.id]}, :class => 'number_field') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dob, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :dob,  :start_year => 1965,
                        :end_year => Time.now.year,
                        :order => [:day, :month, :year],
                        :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :position, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :position, :class => 'text_field' %> |
      <%= f.select(:position, Player.all.collect {|p| [p.position]}, :class => 'text_field') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :squad_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :squad_number, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :goals, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :goals, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :played, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :played, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :red_cards, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :red_cards, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :yellow_cards, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :yellow_cards, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :achievements, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :achievements, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :phone, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                players_path, :class => 'btn' %>
  </div>
<% end %>
