<%= form_for(@expense) do |f| %>
    <% if @expense.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

          <ul>
            <% @expense.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <!--

    If the admin user is the treasurer then display the drop down list if not
    then just save the expense using the admin users id from the url

    First I need to pass the value of the admin user to this form
    Then I need to get the users position and check it

    -->
    <div class="field">
      <%= f.label :admin %>
      <br/>
      <%= f.select(:admin_user_id, @admin_users.collect { |a| [a.position, a.id] }) %>
    </div>
    <div class="field">
      <%= f.label :category %>
      <br/>
      <%= f.text_field :category %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :supplier %>
      <br/>
      <%= f.text_field :supplier %>
    </div>
    <div class="field">
      <%= f.label :amount %>
      <br/>
      <%= f.text_field :amount %>
    </div>
    <div class="field">
      <%= f.label :purchase_date %>
      <br/>
      <%= f.date_select :purchase_date %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
